
/*istruzioni generali*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;;
}

body {
  background-color: #F6F8F9;
}

main .main-list {
  padding-top: 10px;
  padding-bottom: 30px;
}

/*contenitore*/

.container {
  width: 70%;
  margin: 2px auto;
  background-color: #fff;
}

/*stili per il logo e il testo*/

.header-top { 
  width: 100%;
  height: 90px;
  background-color: #fff;
}

.logo {
width: 70px;
margin-top: 10px;
margin-left: 25px;
}

.text-logo {
  font-size: 50px;
  font-weight: bolder;
  vertical-align: 20px;
}

/*stili per i bottoni*/

.main-top {
  width: 70%;
  height: 60px;
  margin: 40px auto 0px ;
  background-color: #fff;
}

.main-top button {
  height: 28px;
  margin-top: 20px;
  border-radius: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.bottone1 {
  width: 65px;
  margin-left: 40px;
  border: 0px;
  background-color: deepskyblue;
  color: #fff;
}

.bottone2 {
  width: 85px;
  border-color: lightgray;
  background-color:#fff;
  color:lightgray;
}

/*stili  titoli*/

.main-list h3 {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 40px;
  padding-top: 17px;
  font-size: 22px;
  font-weight: 800;
}

/*triangoli nei titoli*/

.main-list ul h3::before{
  content: "\25be";
}

.main-list li{
  list-style: none;
  padding: 10px 0;
  padding-left: 40px;
}

/*stili generali span cerchi*/

li .cerchio{
display: inline-block;
width: 18px;
height: 18px;
font-size: 12px;
border-radius: 50%;
margin-right: 10px;
text-align: center;
font-weight: 700;
}

/*stili specifici span cerchi*/

li .cerchio.letto{
  border: 1px solid #63c0a9;
  color: #63c0a9;
}

li .cerchio.none{
  border: 1px solid red;
  color: red;
}

/*stili generali bottoni lista*/

li .list-btn {
display: inline-block;
font-size: 10px;
border: 1px solid;
vertical-align: -2px;
padding: 6px 10px;
border-radius: 20%;
margin-left: 8px;
color: #fff;
}

/*stili specifici bottoni lista*/

.editorial {
  background-color: #00bfff;
}

.Q1 {
  background-color: #9C72E4;
}

.recruiting {
  background-color: #63c0a9;
}

.mobile {
  background-color: orange;
}

.web {
  background-color: #D863A1;
}

.sales {
  background-color: #B0C926;
}