
/*istruzioni generali*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;;
}

body {
  background-color: #F6F8F9;
}

/*contenitore*/

.container {
  width: 70%;
  height: 550px;
  margin: 2px auto;
  background-color: #fff;
}

/*stili per il logo e il testo*/

.header-top { 
  width: 100%;
  height: 90px;
  background-color: #fff;
}

.logo {
width: 70px;
margin-top: 10px;
margin-left: 25px;
}

.text-logo {
  
  font-size: 50px;
  font-weight: bolder;
  vertical-align: 20px;
}

/*stili per i bottoni*/

.main-top {
  width: 70%;
  height: 50px;
  margin: 40px auto 0px ;
  background-color: #fff;
}

.main-top button {
  height: 28px;
  margin-top: 13px;
  border-radius: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.bottone1 {
  width: 65px;
  margin-left: 40px;
  border: 0px;
  background-color: deepskyblue;
  color: #fff;
}

.bottone2 {
  width: 85px;
  border-color: lightgray;
  background-color:#fff;
  color:lightgray;
}

/*stili paragrafi e titoli*/

.main-list h3 {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 13px;
  padding-top: 15px;
  font-weight: 800;
}

.main-list p {
  display: inline;
  vertical-align: 20px;
  font-size: 17px;
  font-weight: 500;
}

/*stili generali span*/

.main-list .editorial, .q1goals, .recruiting, .web, .sales, .mobile {
  display: inline-block;
  margin-left: 10px;
  padding-top: 4px;
  height: 24px;
  vertical-align: 18px;
  font-size: 13px;
  color: #fff;
  border-radius: 15%;
  
}

/*stili specifici span*/

.editorial {
  width: 62px;
  text-align: center;
  background-color:lightskyblue;
}

.q1goals {
  width: 64px;
  text-align: center;
  background-color:mediumpurple ;
}

.recruiting {
  width: 68px;
  text-align: center;
  background-color:cadetblue;
}

.web {
  width: 62px;
  text-align: center;
  background-color:orchid;
}

.sales {
  width: 54px;
  text-align: center;
  background-color: yellowgreen ;
}

.mobile {
  width: 56px;
  border-radius: 15%;
  text-align: center;
  background-color:peru;
}

/*stili caratteri speciali*/

.mark {
  display: inline-block;
  margin-left: 40px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  vertical-align: 18px;
  color:seagreen;
  border: 1px solid seagreen ;
  border-radius: 50%;
}

.none {
  display: inline-block;
  margin-left: 40px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  text-align: center;
  vertical-align: 18px;
  color:darkred;
  border: 1px solid darkred ;
  border-radius: 50%;
}

.triangle {

  display:inline-block;
  margin-left: 40px;
  height: 25px;
  font-size: 40px;
  text-align: center;
  vertical-align: -23px;
}